<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="01cf601a-306f-4f33-945c-98060c045ca5" Name="Installer" Language="1033" Version="1.0.0.0" Manufacturer="" UpgradeCode="6127bde6-623d-49d4-bc7b-4903cc690ca1">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate />

		<Feature Id="ProductFeature" Title="EtnaSoft_Installer" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLFOLDER" Name="EtnaSoft_Installer" />
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			
			<Component Id="ProductComponent"> 
				<!-- TODO: Insert files, registry keys, and other resources here. -->
				<File Source="$(var.EtnaInstallation.TargetPath)"/>
			</Component> 
		</ComponentGroup>
	</Fragment>
</Wix>
